body, html {
    background-color: gray;
}
.OT_subscriber {
    float: left;
    margin-left: 1em;
}
.OT_publisher {
    float: left;
}
.error {
    color: red;
}

.publisherStats {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.subscribersStats {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}